a {
    
    color: aqua
}

.alert-warning {
    
}

p.taskHeader {
    
    color: aquamarin;
    font-family: serif;
    font-size: 150%;
    
}

p.task {
    
    color: black;
    
    
}

p.answer {
    
    color: black;
    font-size: 140%;
    
}


.psw {
    color: red;
}

.title {
    padding-top: 3%;
    padding-left: 10%;
    
}


.tr:hover {
    
    background-color: cornflowerblue;
    
}
